<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Algorithm</title>

    <style>
      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }

      *:focus {
        outline: none;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
      .nav-bar {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50px;
        border: 1px solid black;
      }

      h5,
      h4,
      .algo-name {
        text-align: left;
        /* text-decoration: 5px solid rgb(1, 70, 75) underline; */
      }

      .algo-name-row {
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 10px 10px 0px 0px;
        background: #0a9396;
        /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
      }

      /* #bookmark {
            border: none; 
            background: none;
        } */

      #bookmark {
        width: 65px;
        height: 65px;
      }

      #bookmark-pos {
        padding-top: 5px;
      }

      .cont-det {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        /* justify-content: center; */
      }

      .social-icon {
        width: 20px;
        padding-bottom: 8px;
        margin-left: 20px;
      }
      .algo-details {
        border-radius: 0px 0px 10px 10px;
        color: rgb(0, 0, 0);
        background-color: rgba(138, 138, 138, 0.712);
      }

      .code-exp {
        padding: 10px;
      }

      .vote-btn {
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin: 20px;
      }

      .vote-btn .downvote {
        margin-left: 10px;
      }

      .vote-btn .downvote .upvote {
        width: 10px;
        height: 10px;
      }

      #container1 {
        height: fit-content;
        width: 75%;
        overflow: scroll;
      }

      #container1::-webkit-scrollbar {
        display: none;
      }

      /* Code Editor Code By sohail */

      /* For Algorithm */
      .window {
        width: 450px;
        background: #264653;
        border-radius: 0.3rem;
        /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); */
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .window .window-header {
        height: 30px;
        background: Gainsboro;
        position: relative;
      }
      .window .window-header .action-buttons {
        position: absolute;
        top: 50%;
        left: 10px;
        margin-top: -5px;
        width: 10px;
        height: 10px;
        background: Crimson;
        border-radius: 50%;
        box-shadow: 15px 0 0 Orange, 30px 0 0 LimeGreen;
      }
      .window .window-body {
        position: relative;
        height: 300px;
      }
      .window .window-body .code-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: none;
        font-family: "PT Mono", monospace;
        font-size: 0.8rem;
        background: transparent;
        white-space: pre-wrap;
        line-height: 1.5em;
        word-wrap: break-word;
      }
      .window .window-body .code-input {
        opacity: 1;
        margin: 0;
        color: Gainsboro;
        resize: none;
      }
    </style>
  </head>
  <body>
    <section class="nav-bar">NAV BAR</section>

    <!-- Algorithm data  -->
    <section class="container algo-card">
      <!-- Algorithm name -->
      <div class="row algo-name-row">
        <div class="col-10 algo-name">
          <h1><%= algo.name %></h1>
        </div>

        <!-- BookMark -->
        <div class="col-2" id="bookmark-pos">
          <!-- <img src="./assets/logo/bookmark-black.png" alt="" id="bookmark-icon"> -->
          <span
            class="iconify"
            id="test3"
            data-icon="clarity:bookmark-solid"
            data-width="40"
            style="color: white"
            onclick="bookmarkClick(event)"
          ></span>
        </div>

        <!-- Contributer details -->
        <div class="cont-det">
          <h6>
            Contributed By
            <a href="/profile/<%-algo.contributedBy.id %>"
              ><b><%= algo.contributedBy.name %></b></a
            >
          </h6>
        </div>
      </div>

      <div class="row algo-details">
        <!-- Code Explanation -->
        <div>
          <div class="code-exp">
            <h4><b>Explanation</b></h4>
            <p><%- algo.description %></p>
          </div>
        </div>

        <!-- Algorithm Code -->
        <div class="algo-code container">
          <h5><b>CODE</b></h5>
          <section class="d-flex justify-content-center">
            <div class="window" id="container1">
              <div class="window-header">
                <div class="action-buttons"></div>
              </div>
              <div class="window-body">
                <textarea class="code-input" readonly>
                  <%= algo.code %>
                </textarea>
              </div>
            </div>
          </section>
        </div>
        <!-- upVote and downVote -->
        <div class="row vote-btn">
          <div class="upvote">
            <span
              class="iconify"
              data-icon="bx:bxs-upvote"
              id="test1"
              style="color: black"
              data-width="40"
              onclick="UpwardFunction(event)"
            ></span>
            <b id="countupvote"><%= algo.upCount.length %> </b>
          </div>
          <div class="downvote">
            <span
              class="iconify"
              data-icon="bx:bxs-upvote"
              id="test2"
              style="color: black"
              data-width="40"
              data-rotate="180deg"
              onclick="DownwardFunction(event)"
            ></span>
            <b id="countdownvote"><%= algo.downCount.length %> </b>
          </div>
        </div>
      </div>
    </section>
    <!-- Algorithm data end -->

    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

    <script lang="javascript">
      // element.addEventListener("click", ifClick);]
      // let algorithm = JSON.parse(`<% JSON.stringify( algo) %>`);
      // var algorithm = JSON.parse(`<%- JSON.stringify(algo) %>`);
      
      // let val = "<%- algo._id %>";
      // console.log(JSON.stringify(algo.id));
      // console.log(val)
          async function bookmarkClick(e){
            e.preventDefault();
            await fetch("https://algo-extension.herokuapp.com/algorithm/bookmark/<%- algo._id %>",{
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            },
            credentials: "include",
          }).then(async (response)=>{
              response = await response.json();
          }).catch((error)=>{
            console.log(error.message);
          })
            if(document.getElementById("test3").style.color=="white"){
                isMarked = true;
                document.getElementById("test3").style.color="black";
            }else{
                isMarked = false
                document.getElementById("test3").style.color="white";
            }
        }

          async function UpwardFunction(e){
            e.preventDefault();
            await fetch("https://algo-extension.herokuapp.com/algorithm/upvote/<%- algo._id %>",{
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            },
            credentials: "include",
          }).then(async (response)=>{
              response = await response.json();
              document.getElementById("countupvote").innerHTML = response.upvoteCount;
              document.getElementById("countdownvote").innerHTML = response.downvoteCount;
              isDown = false;
              isUp = true;
          }).catch((error)=>{
            console.log(error.message);
          })
          if(document.getElementById("test1").style.color=="black"){
            document.getElementById("test1").style.color="green";
            document.getElementById("test2").style.color="black";
          }
        }
        async function DownwardFunction(e){
            e.preventDefault();
            // console.log(algorithm);
            await fetch("https://algo-extension.herokuapp.com/algorithm/downvote/<%- algo._id %>",{
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            },
            credentials: "include",
          }).then(async (response)=>{
              response = await response.json();
              document.getElementById("countupvote").innerHTML = response.upvoteCount;
              document.getElementById("countdownvote").innerHTML = response.downvoteCount;
              isDown = true;
              isUp = false;
          }).catch((error)=>{
            console.log(error.message);
          })
            if(document.getElementById("test2").style.color=="black"){
                document.getElementById("test2").style.color="red";
                document.getElementById("test1").style.color="black";
            }
        }
        var isUp = "<%- up %>";
        var isDown = "<%- down %>";
        var isMarked = "<%- marked %>";
        console.log(isUp);
        console.log(isDown);
        console.log(isMarked);
        if(isUp==true){
          console.log("1");
          document.getElementById("test1").style.color="green";
        }
        if(isDown==true){
          console.log("1");
          document.getElementById("test2").style.color="red";
        }
        if(isMarked==true){
          console.log("1");
          document.getElementById("test3").style.color="black";
        }
    </script>
  </body>
</html>
