<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>User Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>

  <style type="text/css">
    @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

    body {
      color: #797979;
      background: #e5e5e5;
      font-family: "Open Sans", sans-serif;
      padding: 0px !important;
      margin: 0px !important;
      font-size: 13px;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      padding: 0;
      margin: 0;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      /* background-color: #e5e5e5; */
      color: #1a1a1a;
      font-family: "Source Sans Pro", sans-serif;
      /* font-size: 1rem; */
      line-height: 1.6;
    }

    #contributeBtn {
      display: flex;
      margin: 5px 0px;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    .profile-nav,
    .profile-info {
      margin-top: 30px;
    }

    .profile-nav .user-heading {
      background: #0d6efd;
      color: #fff;
      border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
      padding: 30px;
      text-align: center;
    }

    .profile-nav .user-heading.round a {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      border: 10px solid rgba(255, 255, 255, 0.3);
      display: inline-block;
    }

    .profile-nav .user-heading a img {
      width: 112px;
      height: 112px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
    }

    .profile-nav .user-heading h1 {
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 5px;
    }

    .profile-nav .user-heading p {
      font-size: 12px;
    }

    .profile-nav ul {
      margin-top: 1px;
    }

    .profile-nav ul > li {
      border-bottom: 1px solid #ebeae6;
      margin-top: 0;
      line-height: 30px;
    }

    .profile-nav ul > li:last-child {
      border-bottom: none;
    }

    .profile-nav ul > li > a {
      border-radius: 0;
      -webkit-border-radius: 0;
      color: #89817f;
      border-left: 5px solid #fff;
    }

    .profile-nav ul > li > a:hover,
    .profile-nav ul > li > a:focus,
    .profile-nav ul li.active a {
      background: #fff !important;
      border-left: 5px solid #fbc02d;
      color: #89817f !important;
    }

    .profile-nav ul > li:last-child > a:last-child {
      border-radius: 0 0 4px 4px;
      -webkit-border-radius: 0 0 4px 4px;
    }

    .profile-nav ul > li > a > i {
      font-size: 16px;
      padding-right: 10px;
      color: #bcb3aa;
    }

    .r-activity {
      margin: 6px 0 0;
      font-size: 12px;
    }

    .p-text-area,
    .p-text-area:focus {
      border: none;
      font-weight: 300;
      box-shadow: none;
      color: #c3c3c3;
      font-size: 16px;
    }

    .profile-info .panel-footer {
      background-color: #f8f7f5;
      border-top: 1px solid #e7ebee;
    }

    .profile-info .panel-footer ul li a {
      color: #7a7a7a;
    }

    .bio-graph-heading {
      background: #0d6efd;
      color: #fff;
      text-align: center;
      font-style: italic;
      padding: 40px 110px;
      border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
      font-size: 16px;
      font-weight: 300;
    }

    .bio-graph-info {
      color: #89817e;
    }

    .bio-graph-info h1 {
      font-size: 22px;
      font-weight: 300;
      margin: 0 0 20px;
    }

    .bio-row {
      width: 50%;
      float: left;
      margin-bottom: 10px;
      padding: 0 15px;
    }

    .bio-row p span {
      width: 100px;
      display: inline-block;
    }

    .bio-chart,
    .bio-desk {
      float: left;
    }

    .bio-chart {
      width: 40%;
    }

    .bio-desk {
      width: 60%;
    }

    .bio-desk h4 {
      font-size: 15px;
      font-weight: 400;
    }

    .bio-desk h4.terques {
      color: #4cc5cd;
    }

    .bio-desk h4.red {
      color: rgb(76, 197, 205);
    }

    .bio-desk h4.green {
      color: #97be4b;
    }

    .bio-desk h4.purple {
      color: #caa3da;
    }

    .file-pos {
      margin: 6px 0 10px 0;
    }

    .profile-activity h5 {
      font-weight: 300;
      margin-top: 0;
      color: #c3c3c3;
    }

    .summary-head {
      background: #ee7272;
      color: #fff;
      text-align: center;
      border-bottom: 1px solid #ee7272;
    }

    .summary-head h4 {
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    .summary-head p {
      color: rgba(255, 255, 255, 0.6);
    }

    ul.summary-list {
      display: inline-block;
      padding-left: 0;
      width: 100%;
      margin-bottom: 0;
    }

    ul.summary-list > li {
      display: inline-block;
      width: 19.5%;
      text-align: center;
    }

    ul.summary-list > li > a > i {
      display: block;
      font-size: 18px;
      padding-bottom: 5px;
    }

    ul.summary-list > li > a {
      padding: 10px 0;
      display: inline-block;
      color: #818181;
    }

    ul.summary-list > li {
      border-right: 1px solid #eaeaea;
    }

    ul.summary-list > li:last-child {
      border-right: none;
    }

    .activity {
      width: 100%;
      float: left;
      margin-bottom: 10px;
    }

    .activity.alt {
      width: 100%;
      float: right;
      margin-bottom: 10px;
    }

    .activity span {
      float: left;
    }

    .activity.alt span {
      float: right;
    }

    .activity span,
    .activity.alt span {
      width: 45px;
      height: 45px;
      line-height: 45px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      background: #eee;
      text-align: center;
      color: #fff;
      font-size: 16px;
    }

    .activity.terques span {
      background: #8dd7d6;
    }

    .activity.terques h4 {
      color: #8dd7d6;
    }

    .activity.purple span {
      background: #b984dc;
    }

    .activity.purple h4 {
      color: #b984dc;
    }

    .activity.blue span {
      background: #90b4e6;
      /* background: #fbc02d; */
    }

    .activity.blue h4 {
      color: #90b4e6;
    }

    .activity.green span {
      background: #aec785;
    }

    .activity.green h4 {
      color: #aec785;
    }

    .activity h4 {
      margin-top: 0;
      font-size: 16px;
    }

    .activity p {
      margin-bottom: 0;
      font-size: 13px;
    }

    .activity .activity-desk i,
    .activity.alt .activity-desk i {
      float: left;
      font-size: 18px;
      margin-right: 10px;
      color: #bebebe;
    }

    .activity .activity-desk {
      margin-left: 70px;
      position: relative;
    }

    .activity.alt .activity-desk {
      margin-right: 70px;
      position: relative;
    }

    .activity.alt .activity-desk .panel {
      float: right;
      position: relative;
    }

    .activity-desk .panel {
      background: #f4f4f4;
      display: inline-block;
    }

    .activity .activity-desk .arrow {
      border-right: 8px solid #f4f4f4 !important;
    }

    .activity .activity-desk .arrow {
      border-bottom: 8px solid transparent;
      border-top: 8px solid transparent;
      display: block;
      height: 0;
      left: -7px;
      position: absolute;
      top: 13px;
      width: 0;
    }

    .activity-desk .arrow-alt {
      border-left: 8px solid #f4f4f4 !important;
    }

    .activity-desk .arrow-alt {
      border-bottom: 8px solid transparent;
      border-top: 8px solid transparent;
      display: block;
      height: 0;
      right: -7px;
      position: absolute;
      top: 13px;
      width: 0;
    }

    .activity-desk .album {
      display: inline-block;
      margin-top: 10px;
    }

    .activity-desk .album a {
      margin-right: 10px;
    }

    .activity-desk .album a:last-child {
      margin-right: 0px;
    }

    /**
* Fonts
*/

    /**
* Reset
*/
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    html {
      font-family: sans-serif;
      line-height: 1.15;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      padding: 0;
      margin: 0;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }

    p,
    ol,
    ul,
    li,
    dl,
    dt,
    dd,
    blockquote,
    figure,
    fieldset,
    form,
    legend,
    textarea,
    pre,
    iframe,
    hr,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding: 0;
      margin: 0;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }

    /**
* Global Rules
*/
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #0d0d0d;
      font-family: Roboto, sans-serif;
      line-height: 1.2;
    }

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 35px;
    }

    a,
    a:visited {
      background-color: transparent;
      color: #ffffff;
      /* color: #fbc02d; */
      text-decoration: none;
      border-bottom: 1px dotted;
    }

    a:hover,
    a:active {
      border-bottom: none;
      outline: 0;
    }

    a:focus {
      border-bottom: none;
      outline: thin dotted;
    }

    a img {
      border: 0;
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem;
    }

    footer .credits {
      font-size: 1rem;
    }

    /**
* Tabs Container
*/
    .tabs-container {
      padding: 2rem;
    }

    /**
* Tabs Block
*/
    .tabs-block {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /**
* Tabs
*/
    .tabs {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .tabs label {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 2rem;
      margin-right: 0.0625rem;
      cursor: pointer;
      background-color: #fbc02d;
      color: #fff;
      font-family: Roboto, sans-serif;
      font-size: 1.2rem;
      font-weight: 700;
      transition: background-color ease 0.3s;
    }

    .tabs label .material-icons {
      margin-right: 0.3rem;
    }

    .tabs .tab {
      flex-grow: 1;
      width: 100%;
      height: 100%;
      display: none;
      padding: 1rem 2rem;
      color: #000;
      background-color: #fff;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    }

    .tabs .tab > *:not(:last-child) {
      margin-bottom: 0.8rem;
    }

    .tabs [type="radio"] {
      display: none;
    }

    .tabs [type="radio"]:checked + label {
      background-color: #fff;
      color: #fbc02d;
      border-top: 4px solid #fbc02d;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    }

    .tabs [type="radio"]:checked + label + .tab {
      display: block;
    }

    @media (min-width: 768px) {
      body {
        font-size: 1.125rem;
      }

      .tabs-container {
        /* padding: 4rem 4rem; */
        padding: 0rem 0rem;
        margin-left: -44px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .tabs label {
        order: 1;
        width: auto;
      }

      .tabs .tab {
        order: 9;
      }

      .tabs [type="radio"]:checked + label {
        border-bottom: none;
      }
    }

    @media (min-width: 992px) {
      .tabs {
        width: 800px;
      }
    }
  </style>

  <body>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <div class="container bootstrap snippets bootdey">
      <div class="row">
        <div class="profile-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img
                  src="https://w7.pngwing.com/pngs/512/807/png-transparent-panda-giant-panda-dab-red-panda-t-shirt-panda-avatar-desktop-wallpaper-cuteness-cartoon-panda-thumbnail.png"
                  alt=""
                />
              </a>
              <h1><b style="color: white"><%= profileUser.name %></b></h1>
              <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
              <b
                ><p>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  &nbsp;<%= profileUser.email %>
                </p></b
              >
              <p><b><%= contri.length %> Contributions</b></p>
              <p><b><%= marked.length %> Bookmarked</b></p>
            </div>
          </div>
          <div id="contribute">
            <a href="https://algo-extension.herokuapp.com/contribute" id="contributeBtn" class="btn btn-primary"
              >Contribute</a
            >
          </div>
        </div>

        <div class="profile-info col-md-9">
          <div class="panel mb-3">
            <div style="font-size: large" ; class="bio-graph-heading">
              The greatest glory in living lies not in never falling, but in
              rising every time we fall
            </div>
          </div>
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
              >
                My Contributions <span class="badge bg-secondary"><%= contri.length %></span>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
              >
                My Bookmarks <span class="badge bg-secondary"><%= marked.length %></span>
              </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
            >
            <div class="row">
            
              <% contri.forEach(element =>{ %>

                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><%= element.name %></h5>
                      <!-- <p class="card-text">Contributed on 14 Feb 2021</p> -->
                      <a href="https://algo-extension.herokuapp.com/algorithm/<%- element.id %>" class="btn btn-primary">Read more</a>
                    </div>
                  </div>
                </div>
                  <% }) %>

            </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-profile"
              role="tabpanel"
              aria-labelledby="pills-profile-tab"
            >
              <div class="row">

                <% marked.forEach(element =>{ %>

                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Rabin Karp Algorithm</h5>
                      <a href="https://algo-extension.herokuapp.com/algorithm/<%- element.id %>" class="btn btn-primary">Read more</a>
                    </div>
                  </div>
                </div>

                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- <script type="text/javascript"></script> -->
  </body>
</html>
